* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*===========================================
|       Variables
===========================================*/
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;

:root {
    --bs-body-color: #262626;
    --bs-body-font-size: 0.91rem;
}

body {
    font-family: 'Inter', 'Noto Sans Khmer', sans-serif;
    font-weight: $fw-regular;
    color: #101010;
}
/*===========================================
|       General
===========================================*/
.btn, .form-control, .card, .nav-link.active, .dropdown-menu, .btn-close, button.swal2-styled, input[type=search], select {
    border-radius: 2px !important;
}
.modal {
    .modal-dialog {
        .modal-content {
            border-radius: 2px !important;
            .modal-header {
                border-radius: 2px 2px 0 0 !important;
            }
            .modal-footer {
                border-radius: 0 0 2px 2px !important;
            }
        }
    }
}
.card {
    border-color: var(--bs-gray-400) !important;
    border-top-width: 4px !important;
    .card-header {
        border-radius: 2px 2px 0 0 !important;
    }
    .card-footer {
        border-radius: 0 0 2px 2px !important;
    }
}
.btn:focus, .btn:active,
.form-control:focus, .form-control:active,
.btn-close:focus, .btn-close:active,
button.swal2-styled:focus, button.swal2-styled:active {
    box-shadow: none !important;
}
.form-control {
    box-shadow: none;
    &:focus {
        border-color: hsl(215, 100%, 48%) !important;
    }
}

table {
    tr {
        th, td {
            vertical-align: middle;
        }
    }
}

input, select, textarea {
    color: #101010 !important;
}

table#dataTable {
    width: 100% !important;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999 !important;
}

.form-floating label {
    opacity: 0.8;
}

.sidebar-nav ul .sidebar-item .sidebar-link {
    border-radius: 2px !important;
}

.table-bordered>:not(caption)>*>* {
    border-width: 1px;
}

/*===========================================
|       Toastr Customization
===========================================*/
.toast-success {
    background: hsl(215, 100%, 48%) !important;
    background-repeat: no-repeat !important;
    background-position-y: center !important;
    background-position-x: 13px !important;
    opacity: .9 !important;
}
.toast-error {
    background: hsl(345, 100%, 53%) !important;
    background-repeat: no-repeat !important;
    background-position-y: center !important;
    background-position-x: 13px !important;
    opacity: .9 !important;
}
.toast-warning {
    background: hsl(47, 100%, 50%) !important;
    background-repeat: no-repeat !important;
    background-position-y: center !important;
    background-position-x: 13px !important;
    opacity: .9 !important;
    color: #101010 !important;
}
